services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: smartpitch-api
    ports:
      - "8000:8000"

  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    container_name: smartpitch-ui
    environment:
      - API_URL=http://api:8000
    ports:
      - "8501:8501"
    depends_on:
      - api
